<a href="https://colab.research.google.com/github/Mireille02/Checkpoints_DATA_ANALYSIS_BEDU/blob/Python/Checkpoint_3_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **STACK OVERFLOW SURVEY DATA ANALYSIS**
 
by. 📊 Mirelle Caballero   📈  Cesar Castro   😎  Karen Madrigal

![Karent Madlove.jpg]()

---
*Créditos imagen*: Educa2020 https://educa2020.es/2019/02/04/escasez-programadores-programadoras/*

---


# **Problema a resolver**: Contextualización 😮 ☝🏻

 Una de las habilidades digitales más requeridas corresponde a la programación de código. El desarrollo de talento por medio de la elección de carreras relacionadas a las TI, en los últimos 3 ciclos no han mostrado un crecimiento o decremento significativo, Este contexto también realza la consideración del surgimiento de la demanda por cambios demográficos como lo son los estudiantes no tradicionales, migrantes de retorno, mujeres con carreras discontinuas, egresados que demandan hibridaciones en sus carreras profesionales que les permitan inserción social y profesional o transiciones en la vida laboral (Cabero; 2007; Pérez; 2012 y The Economist Intelligence Unit, 2020). 

Así, en los contextos no formales están emergiendo comunidades de práctica orientadas al aprendizaje de programación de código como los coding bootcamps en vinculación con la industria, la academia, el gobierno y la sociedad civil que ofrecen a los estudiantes algún tipo de servicio de empleo y con la finalidad de: 
1. Disminuir la escasez de talento digital, 2. Como estrategia para disminuir el desempleo juvenil, y 3. Paliar las carencias del plan de estudios oficial respecto a los requerimientos que los empleadores tienen en el sector de Tecnologías de la información (TI) y la necesidad de habilidades prácticas de los egresados (UIT, 2016).

*Fuente: Gutiérrez, en proceso.*


---

# **Objetivos**: 🧐

**General**

- Crear un modelo predictivo de ingresos y empleabilidad basado en trayectorias.

**Específicos**

1. Caracterizar el perfil de los desarrolladores.
2. Reconstruir las trayectorias educativas de los desarrolladores con el paradigma del Lifelonglearning (educación formal, no formal e informal).
3. Contrastar el ingreso y empleabilidad vs las trayectorias realizadas por los desarrolladores de diferentes países.

---

# **Acceso a la información**: data bases 👨🏻‍💻 👩🏻‍💻

La encuesta de stack overflow para desarrolladores (y cualquier persona que codifique) hace levantamiento a más de 80 mil personas enfocadas a la codificación en el mundo. 

Ésta está divida en **seis secciones**:

1. Basic Information 
2. Education, Work, and Career 
3. Technology and Tech Culture 
4. Stack Overflow Usage + Community 
5. Demographic Information 
6. Final Questions 

*Fuente data bases*: https://insights.stackoverflow.com/survey

---

# **Análisis de datos**: interpretación de resultados  🤓 📊 📈 📉

# **Paso 1** Importar bibliotecas

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sb

# **Paso 2** Cargar BD Overflow 2018.

In [ ]:
Encuesta_Full= pd.read_csv('/content/OverFlow_full.csv', index_col=0)


Encuesta_2018

           Hobby  Year  ...                 RaceEthnicity                Age
Respondent              ...
1            Yes  2018  ...   Black or of African descent  25 - 34 years old
3            Yes  2018  ...  White or of European descent  35 - 44 years old
4            Yes  2018  ...                           NaN                NaN
5             No  2018  ...  White or of European descent  35 - 44 years old
7            Yes  2018  ...  White or of European descent  18 - 24 years old
...          ...   ...  ...                           ...                ...
17176        Yes  2018  ...  White or of European descent  25 - 34 years old
17178        Yes  2018  ...                           NaN                NaN
17182        Yes  2018  ...                   South Asian  25 - 34 years old
17183        Yes  2018  ...     Hispanic or Latino/Latina  18 - 24 years old
17184        Yes    <<  ...                           NaN                NaN

[12048 rows x 20 columns]

# **Paso 3:** Exploración de Tipo de datos

In [ ]:
Encuesta_2018.dtypes

Hobby                  object
Year                   object
Country                object
Region                 object
Student                object
Employment             object
FormalEducation        object
DevType                object
YearsCoding            object
YearsCodingProf        object
Currency               object
Salary                 object
SalaryType             object
ConvertedCompAnual    float64
CurrencySymbol         object
EducationTypes         object
Gender                 object
EducationParents       object
RaceEthnicity          object
Age                    object
dtype: object

# **Paso 4:**Corregir Tipo de Datos

In [ ]:
Encuesta_2018['Salary'] = pd.to_numeric(Encuesta_2018['Salary'], errors='coerce')

In [ ]:
Encuesta_2018['Age'] = pd.to_numeric(Encuesta_2018['Age'], errors='coerce')

In [ ]:
Encuesta_2018['Year'] = pd.to_numeric(Encuesta_2018['Year'], errors='coerce')

# **Paso 5:** Validación Cambios

In [ ]:
Encuesta_2018.dtypes

Hobby                  object
Year                  float64
Country                object
Region                 object
Student                object
Employment             object
FormalEducation        object
DevType                object
YearsCoding            object
YearsCodingProf        object
Currency               object
Salary                float64
SalaryType             object
ConvertedCompAnual    float64
CurrencySymbol         object
EducationTypes         object
Gender                 object
EducationParents       object
RaceEthnicity          object
Age                   float64
dtype: object

# **Paso 6:** Validación de NANS en Base de Datos

In [ ]:
Encuesta_2018.isna()

            Hobby   Year  Country  ...  EducationParents  RaceEthnicity   Age
Respondent                         ...
1           False  False    False  ...             False          False  True
3           False  False    False  ...             False          False  True
4           False  False    False  ...              True           True  True
5           False  False    False  ...             False          False  True
7           False  False    False  ...             False          False  True
...           ...    ...      ...  ...               ...            ...   ...
17176       False  False    False  ...             False          False  True
17178       False  False    False  ...              True           True  True
17182       False  False    False  ...             False          False  True
17183       False  False    False  ...             False          False  True
17184       False   True    False  ...              True           True  True

[12048 rows x 20 columns]

# **Paso 7:** Cuantos NANS existen por columna

In [ ]:
Encuesta_2018.isna().sum(axis=0)

Hobby                     0
Year                      1
Country                   0
Region                    0
Student                 139
Employment                0
FormalEducation         199
DevType                 210
YearsCoding               8
YearsCodingProf        1667
Currency               3939
Salary                 4841
SalaryType             4844
ConvertedCompAnual     5140
CurrencySymbol         3807
EducationTypes         3181
Gender                 3610
EducationParents       3906
RaceEthnicity          4481
Age                   12048
dtype: int64

# **Paso 8:** Cuantas filas se tiene NANS

In [ ]:
Encuesta_2018.isna().sum(axis=1)

Respondent
1         4
3         1
4        10
5         5
7         1
         ..
17176     2
17178    11
17182     1
17183     2
17184     5
Length: 12048, dtype: int64

In [ ]:
Encuesta_2018

           Hobby    Year  ...                 RaceEthnicity Age
Respondent                ...
1            Yes  2018.0  ...   Black or of African descent NaN
3            Yes  2018.0  ...  White or of European descent NaN
4            Yes  2018.0  ...                           NaN NaN
5             No  2018.0  ...  White or of European descent NaN
7            Yes  2018.0  ...  White or of European descent NaN
...          ...     ...  ...                           ...  ..
17176        Yes  2018.0  ...  White or of European descent NaN
17178        Yes  2018.0  ...                           NaN NaN
17182        Yes  2018.0  ...                   South Asian NaN
17183        Yes  2018.0  ...     Hispanic or Latino/Latina NaN
17184        Yes     NaN  ...                           NaN NaN

[12048 rows x 20 columns]

# **Paso 9:** Creación Data Frame / Modificación NANS por Unknown

In [ ]:
Encuesta_2 = Encuesta_2018
Encuesta_2['YearsCodingProf'] = Encuesta_2['YearsCodingProf'].fillna('Unknown')
Encuesta_2['Student'] = Encuesta_2['Student'].fillna('Unknown')
Encuesta_2['FormalEducation'] = Encuesta_2['FormalEducation'].fillna('Unknown')
Encuesta_2['DevType'] = Encuesta_2['DevType'].fillna('Unknown')
Encuesta_2['Currency'] = Encuesta_2['Currency'].fillna('Unknown')
Encuesta_2['Salary'] = Encuesta_2['Salary'].fillna('Unknown')
Encuesta_2['SalaryType'] = Encuesta_2['SalaryType'].fillna('Unknown')
Encuesta_2['CurrencySymbol'] = Encuesta_2['CurrencySymbol'].fillna('Unknown')
Encuesta_2['EducationTypes'] = Encuesta_2['EducationTypes'].fillna('Unknown')
Encuesta_2['Gender'] = Encuesta_2['Gender'].fillna('Unknown')
Encuesta_2['EducationParents'] = Encuesta_2['EducationParents'].fillna('Unknown')
Encuesta_2['RaceEthnicity'] = Encuesta_2['RaceEthnicity'].fillna('Unknown')
Encuesta_2['Age'] = Encuesta_2['Age'].fillna('Unknown')
Encuesta_2['ConvertedCompAnual'] = Encuesta_2['ConvertedCompAnual'].fillna('Unknown')
Encuesta_2['Year'] = Encuesta_2['Year'].fillna('Unknown')
Encuesta_2['YearsCoding'] = Encuesta_2['YearsCoding'].fillna('Unknown')
Encuesta_2.isna().sum()

Hobby                 0
Year                  0
Country               0
Region                0
Student               0
Employment            0
FormalEducation       0
DevType               0
YearsCoding           0
YearsCodingProf       0
Currency              0
Salary                0
SalaryType            0
ConvertedCompAnual    0
CurrencySymbol        0
EducationTypes        0
Gender                0
EducationParents      0
RaceEthnicity         0
Age                   0
dtype: int64

In [ ]:
Encuesta_2['Salary'] = pd.to_numeric(Encuesta_2018['Salary'], errors='coerce')
Encuesta_2['Age'] = pd.to_numeric(Encuesta_2018['Age'], errors='coerce')
Encuesta_2['Year'] = pd.to_numeric(Encuesta_2018['Salary'], errors='coerce')
Encuesta_2['ConvertedCompAnual'] = pd.to_numeric(Encuesta_2['ConvertedCompAnual'], errors='coerce')
Encuesta_2.dtypes

# **Paso 10** Reindexación

In [ ]:
Encuesta_2.reset_index()

       Respondent Hobby  ...                 RaceEthnicity      Age
0               1   Yes  ...   Black or of African descent  Unknown
1               3   Yes  ...  White or of European descent  Unknown
2               4   Yes  ...                       Unknown  Unknown
3               5    No  ...  White or of European descent  Unknown
4               7   Yes  ...  White or of European descent  Unknown
...           ...   ...  ...                           ...      ...
12043       17176   Yes  ...  White or of European descent  Unknown
12044       17178   Yes  ...                       Unknown  Unknown
12045       17182   Yes  ...                   South Asian  Unknown
12046       17183   Yes  ...     Hispanic or Latino/Latina  Unknown
12047       17184   Yes  ...                       Unknown  Unknown

[12048 rows x 21 columns]

# **Paso 11** Cambio de Nombre Columna

In [ ]:
Encuesta_2= Encuesta_2.rename(columns={'EducationTypes': 'EducationCoding'})
Encuesta_2

           Hobby     Year  ...                 RaceEthnicity      Age
Respondent                 ...
1            Yes     2018  ...   Black or of African descent  Unknown
3            Yes     2018  ...  White or of European descent  Unknown
4            Yes     2018  ...                       Unknown  Unknown
5             No     2018  ...  White or of European descent  Unknown
7            Yes     2018  ...  White or of European descent  Unknown
...          ...      ...  ...                           ...      ...
17176        Yes     2018  ...  White or of European descent  Unknown
17178        Yes     2018  ...                       Unknown  Unknown
17182        Yes     2018  ...                   South Asian  Unknown
17183        Yes     2018  ...     Hispanic or Latino/Latina  Unknown
17184        Yes  Unknown  ...                       Unknown  Unknown

[12048 rows x 20 columns]

# **Paso 12**: Agregar usando MAP el Tipo de Moneda

In [ ]:
def convertir_comp_salary_a_usd(ConvertedCompAnual):
    
    return f'{ConvertedCompAnual} USD'

# **Paso 13:** Groupby por Género

> Bloc con sangría

In [ ]:
Encuesta_2.groupby('Gender').size()

Gender
Female                                                                        528
Female;Male                                                                     9
Female;Male;Non-binary, genderqueer, or gender non-conforming                   1
Female;Male;Transgender                                                         1
Female;Male;Transgender;Non-binary, genderqueer, or gender non-conforming       7
Female;Non-binary, genderqueer, or gender non-conforming                        8
Female;Transgender                                                             12
Female;Transgender;Non-binary, genderqueer, or gender non-conforming            5
Male                                                                         7788
Male;Non-binary, genderqueer, or gender non-conforming                         22
Male;Transgender                                                                3
Male;Transgender;Non-binary, genderqueer, or gender non-conforming              2
Non-binary, genderqueer, or gender non-conforming                              33
Transgender                                                                    12
Transgender;Non-binary, genderqueer, or gender non-conforming                   7
Unknown                                                                      3610
dtype: int64

# **Paso 14:** Modificar Strings

In [ ]:
Encuesta_2['Gender'] = Encuesta_2['Gender'].str.replace('Female;Male', 'No Binary')
Encuesta_2['Gender'] = Encuesta_2['Gender'].str.replace('Female;Male;Transgender', 'No Binary')
Encuesta_2['Gender'] = Encuesta_2['Gender'].str.replace('Female;Male;Transgender;Non-binary, genderqueer, or gender non-conforming', 'No Binary')
Encuesta_2['Gender'] = Encuesta_2['Gender'].str.replace('Female;Male;Non-binary, genderqueer, or gender non-conforming', 'No Binary')
Encuesta_2['Gender'] = Encuesta_2['Gender'].str.replace('Female;Non-binary, genderqueer, or gender non-conforming  ', 'No Binary')
Encuesta_2['Gender'] = Encuesta_2['Gender'].str.replace('Non-binary, genderqueer, or gender non-conforming', 'No Binary')
Encuesta_2['Gender'] = Encuesta_2['Gender'].str.replace('Male;No Binary', 'No Binary')
Encuesta_2['Gender'] = Encuesta_2['Gender'].str.replace('No Binary;No Binary', 'No Binary')
Encuesta_2['Gender'] = Encuesta_2['Gender'].str.replace('No Binary;Transgender;No Binary','No Binary')
Encuesta_2['Gender'] = Encuesta_2['Gender'].str.replace('Transgender;No Binary','No Binary')
Encuesta_2['Gender'] = Encuesta_2['Gender'].str.replace('No Binary;Transgender','No Binary')

# **Paso 15:** Validación de la Modificación de Strings

In [ ]:
Encuesta_2.groupby('Gender').size()

Gender
Female                 528
Female;No Binary        13
Female;Transgender      12
Male                  7788
Male;No Binary           2
Male;Transgender         3
No Binary               80
Transgender             12
Unknown               3610
dtype: int64

# **Paso 16:** Agrupaciones multivariable

In [ ]:
Encuesta_2.groupby(['Gender', 'Age'])['YearsCodingProf'].value_counts()

Gender   Age      YearsCodingProf
Female   Unknown  0-2 years           204
                  3-5 years           158
                  6-8 years            59
                  9-11 years           29
                  Unknown              23
                                     ...
Unknown  Unknown  18-20 years          41
                  21-23 years          36
                  30 or more years     25
                  24-26 years           9
                  27-29 years           5
Name: YearsCodingProf, Length: 67, dtype: int64

In [ ]:
print (Encuesta_2["ConvertedCompAnual"])

Respondent
1        Unknown
3          70841
4        Unknown
5        Unknown
7          21426
          ...
17176     142000
17178    Unknown
17182       3000
17183       5160
17184      95000
Name: ConvertedCompAnual, Length: 12048, dtype: object

# **Paso 17:** Uso de filtros

In [ ]:
Encuesta_filtro= Encuesta_2[["ConvertedCompAnual","Region","Gender","Age"]]

In [ ]:
Encuesta_filtro

           ConvertedCompAnual         Region   Gender      Age
Respondent
1                     Unknown           Asia     Male  Unknown
3                       70841         Europa     Male  Unknown
4                     Unknown  North America  Unknown  Unknown
5                     Unknown  North America     Male  Unknown
7                       21426           Asia     Male  Unknown
...                       ...            ...      ...      ...
17176                  142000  North America     Male  Unknown
17178                 Unknown   LatinAmerica  Unknown  Unknown
17182                    3000           Asia     Male  Unknown
17183                    5160   LatinAmerica  Unknown  Unknown
17184                   95000  North America  Unknown  Unknown

[12048 rows x 4 columns]

In [ ]:
Encuesta_filtro_2=Encuesta_2[["ConvertedCompAnual"]]

In [ ]:
def convertir_comp_salary_a_usd(Encuesta_filtro_2):
    
    return f'{Encuesta_filtro_2} USD'

In [ ]:
list(map(convertir_comp_salary_a_usd,Encuesta_filtro_2))

['ConvertedCompAnual USD']

In [ ]:

print (Encuesta_filtro.query("Region=='LatinAmerica' and Gender=='Male'"))

           ConvertedCompAnual        Region Gender      Age
Respondent
95                    Unknown  LatinAmerica   Male  Unknown
117                     64116  LatinAmerica   Male  Unknown
126                   Unknown  LatinAmerica   Male  Unknown
142                   Unknown  LatinAmerica   Male  Unknown
149                   Unknown  LatinAmerica   Male  Unknown
...                       ...           ...    ...      ...
17080                 Unknown  LatinAmerica   Male  Unknown
17091                 Unknown  LatinAmerica   Male  Unknown
17101                 Unknown  LatinAmerica   Male  Unknown
17153                   11436  LatinAmerica   Male  Unknown
17172                 Unknown  LatinAmerica   Male  Unknown

[421 rows x 4 columns]

In [ ]:

print (Encuesta_filtro.query("Region=='LatinAmerica' or Gender=='Female'"))

           ConvertedCompAnual         Region   Gender      Age
Respondent
10                    Unknown         Africa   Female  Unknown
29                    Unknown           Asia   Female  Unknown
31                    Unknown   LatinAmerica  Unknown  Unknown
51                      44000  North America   Female  Unknown
52                      60000  North America   Female  Unknown
...                       ...            ...      ...      ...
17153                   11436   LatinAmerica     Male  Unknown
17172                 Unknown   LatinAmerica     Male  Unknown
17173                   33684   LatinAmerica  Unknown  Unknown
17178                 Unknown   LatinAmerica  Unknown  Unknown
17183                    5160   LatinAmerica  Unknown  Unknown

[1165 rows x 4 columns]

In [ ]:
print (Encuesta_2[Encuesta_2[['ConvertedCompAnual']].notnull().all(1)])

           Hobby     Year  ...                 RaceEthnicity      Age
Respondent                 ...
1            Yes     2018  ...   Black or of African descent  Unknown
3            Yes     2018  ...  White or of European descent  Unknown
4            Yes     2018  ...                       Unknown  Unknown
5             No     2018  ...  White or of European descent  Unknown
7            Yes     2018  ...  White or of European descent  Unknown
...          ...      ...  ...                           ...      ...
17176        Yes     2018  ...  White or of European descent  Unknown
17178        Yes     2018  ...                       Unknown  Unknown
17182        Yes     2018  ...                   South Asian  Unknown
17183        Yes     2018  ...     Hispanic or Latino/Latina  Unknown
17184        Yes  Unknown  ...                       Unknown  Unknown

[12048 rows x 20 columns]

# **Paso 18:** Agrupaciones (groupby) y medidas de tendencia central

In [ ]:
Encuesta_2.groupby('Gender')['ConvertedCompAnual'].agg(pd.Series.mode)

Gender
Female                                                            85000
Female;No Binary      [31788.0, 54173.0, 55224.0, 61194.0, 70000.0, ...
Female;Transgender    [23496.0, 45000.0, 60000.0, 65089.0, 76495.0, ...
Male                                                             100000
Male;No Binary                                                   125000
Male;Transgender                          [53000.0, 118000.0, 120000.0]
No Binary                                                         90000
Transgender           [5448.0, 12480.0, 18792.0, 32424.0, 51408.0, 6...
Unknown                                                          130000
Name: ConvertedCompAnual, dtype: object

In [ ]:
Encuesta_2.groupby('Age')['ConvertedCompAnual'].agg(['mean','median','std'])

                 mean   median            std
Age
Unknown  97662.852779  56298.0  203408.427481

# **Paso 19:** Uso de diccionarios

La encuesta de Stack overflow arroja datos interesantes en el contexto internacional, y alcanza a dar luz sobre los desarrolladores 
en México, sin embargo, se requiere tropizalizar esta encuesta compuesta de **46** variables  y 84000 mil respondientes para el caso mexicano revisando la pertinencia de las preguntas. 

Se propone realizar un estudio mixto en donde se realice un cuestionario con las preguntas a fin al contexto como lo ha hecho el IJALTI en Jalisco con la encuesta de la OCDE.

In [ ]:
#Uso de diccionarios: formulario adaptación encuesta Mx
respondent = {
    "email": "eduardoor@gmail.com",
    "hobby": "cine",
    "country": "México",
    "estado": "Jalisco",
    "student": "Management",
    "employment": "front end",
    "yearscoding": "13",
    "yearscodingProf": "7",
    "currency": "pesos",
    "salary": "35,000 a 45,000",
    "salarytype": "Eduardo",
    "convertedcompanual": "Eduardo",
    "currencysymbol": "Eduardo",
    "educationcoding": "Eduardo",
    "nameuniversity": "ITESO",
    "educationparents": "university",
    "raceethnicity": "Eduardo",
    "age": 36
}

# **Paso 20:** Estimados de locación y variabilidad 

- Obtenención de estimados de locación y variabilidad usando pandas 
- Valores típicos y atípicos
- Obtención de percentiles e interpretación

- a.Estimados de ubicación (valor típico) y opciones: promedio,mediana
- b.Estimados de variabilidad

   - Valores atípicos
   - Desviación estándar
   - Estadísticos de orden
-  Rango
   - Percentiles 
   - Rango intercurtilico

# **Paso 21:** Visualización de datos

Distribuciones son otra forma de visualziar las frecuencias (Se usa seaborn contruida sobre matplotlib)(histogramas y graficos de densidad). 
- Boxplots y de utilizar el Score de Rango Intercuartílico para identificar valores atípicos
- Elaborar histogramas utilizando Seaborn
- Histogramas utilizando conceptos de asimetría y curtosis (Interpretación)

# **Paso 22:** Exploración de variables categóricas y análisis multivariable

- Utilizar value_counts y moda para exploración de frecuencia de variables categóricas
- Tablas de  contingencia e interpretación (variables categóricas)
- Creación de subplots en una gráfica de Matplotlib
- Creación e interpretación boxplots y violinplots para exploración de la  distribución de --- variables numéricas segmentadas por una variable categórica.

***Consulta Propuesta***

# **Paso 23:** Correlaciones y Regresión Lineal Simple

- Determinación del Coeficiente de Correlación de Pearson 
- Matrices de correlación y graficarlas usando mapas de calor
- Creación e interpretación de  scatterplots con dos variables numéricas
- Modelo de Regresión Lineal Simple (uso de la librería  scikit-learn)

**Nota:** El proceso a través del cual encontramos los valores para el coeficiente my el intercepto b se llama 'entrenamiento'. El algoritmo y los parámetros que estamos utilizando (en este caso los que definen cómo llevar a cabo la regresión lineal) los llamamos el modelo.

# **Paso 24:** Distribuciones Muestrales y Técnicas de Evaluación de Modelos

- Sesgos y  muestreo aleatorio

**Nota:** Cuando tenemos una muestra que no es representativa (por ejemplo con 90% de hombres y 10% de mujeres) tenemos un conjunto de datos sesgado. Un sesgo es una tendencia de nuestros datos. En este caso es una tendencia hacia favorecer la existencia de hombres en nuestro conjunto. Normalmente los sesgos van en contra de la racionalidad y en el caso de la estadística, los sesgos van en contra de nuestra capacidad de obtener información acerca de una población a partir de una muestra.
No siempre podemos deshacernos de un sesgo en nuestros datos, pero al menos es muy importante saber que el sesgo está presente. Hay algunas maneras en las que podemos resguardarnos de los sesgos. Una de ellas es el muestreo aleatorio (aleatorio).
Un demostrado aleatoriamente implica tomar elementos de nuestra población de manera aleatoria con el fin de generar una muestra. Cada elemento debe de tener la misma probabilidad de ser seleccionado, con el fin de evitar en lo posible la creación de muestras sesgadas.
•	Podemos realizar el probado sin reposición de elementos, es decir: cada vez que extraemos un elemento de la población no lo ponemos de regreso.
•	Pero también podemos realizar el muestreo con reposición, es decir: después de extraer un elemento y agregarlo a la muestra, el elemento se pone de regreso en la población o muestra original. En este caso, podemos tener elementos repetidos en la muestra resultante.

- Aplicación del algoritmo Bootstrap y obtenención de errores estándares e intervalos de confianza.
  
**Nota:**  Normalmente es muy difícil (o imposible) regresar al origen de nuestra muestra para extraer más muestras y poder compararlas con otras. Además, normalmente queremos aprovechar la mayoría de los datos que tenemos para obtener una medida estadística precisa. Es por eso que se usan algunas técnicas que nos permiten "fingir" este re-muestreo utilizando solamente los datos que tenemos a la mano. Una de esas técnicas es la llamada bootstrap.
La técnica de bootstrapping se utiliza para obtener distintas muestras a partir de la muestra que tenemos en nuestras manos y obtener un valor que nos indica qué tanta incertidumbre hay en la medida estadística que hemos realizado. Podrías pensarlo como: "Si pudiera regresar al origen de mis datos y tomar más muestras de mi población, ¿qué diferencia esperaría obtener en el cálculo de esta medida estadística entre las diferentes muestras?". Usando el boostrap te puede dar una idea de qué tanto puedes confiar en tu medida estadística.
Los pasos para realizar un boostrap son los siguientes:
•	Toma un elemento de tu conjunto de datos de manera aleatoria con reposición.
•	Repite el paso 1 n veces (entre más cerca esté na la longitud total de tu muestra, mejor).
•	Toma la medida estadística que te interesa de tus valores remuestreados.
•	Repite los pasos 1 a 3 R veces (entre mayor sea R, mejor).
•	Utilice las medidas obtenidas para:
a) Generar un histograma o boxplot
b) Calcular el error estándar
c) Calcular un intervalo de confianza
si la distribución obtenida diverge mucho de la distribución normal podemos hacer 3 suposiciones:
•	O nuestra muestra original está muy sesgada y resulta en una distribución asimétrica.
•	Hemos realizado un número muy pequeño de pruebas y por lo tanto no tenemos una estimación precisa.
•	O las muestras que estamos tomando son muy pequeñas y facilitan la aparición de sesgos en nuestra distribución resultante.

- Entrenamiento de un modelo de Regresión Lineal Múltiple
- Utilización de datasets de entrenamiento y prueba, y también validación cruzada

# **Paso 25:** Visualización de datos avanzada e interpretación (Seaborn y  Matpotli librerías)

- Sesgos y  muestreo aleatorio
- Tipos de gráficas para exploración y mejor entendimiento  de un conjunto de datos.
       * Estilos 
       * Treemaps (jerarquía)--- Programadores


***Consulta propuesta***
1. (H, M), enc ada una de las áreas de desarrollo (front end, ciencias de datos, back end. Etc). 
2. (Hobres, Mujeres que empiezan a programar a edad más temprana).(Edades por rangos en adolescencia- edad universitaria- etc.)

- Diagramas de dispersión

***Consulta Propuesta*** 
 ingreso y edad o ingreso y numero de años desarrollando codigo y compararlo entre hombres y mujeres. o entre areas de desarrollo. 
             
              -* Scatterplots por categorías ---
       * Scatterplots con variables condicionales 

***Consulta Propuesta***(tipo de desarrollo)    
       
       * Binning Hexagonal.

**Nota:** Los binnings hexagonales son herramientas muy útiles para cuando queremos visualizar la relación entre dos variables numéricas en un conjunto de datos que contienen un gran número de filas. Observe que seaborn coloca además un histograma para cada variable, para hacer muy evidente también cómo participa cada variable para generar la densidad de puntos en la gráfica
ingreso y edad o ingreso y numero de años desarrollando codigo (ver densidad)

       * Mapas coropléticos y gráficas de barras apiladas

***Consulta Propuesta:***
       (participación de los encuestados)

# **Paso 26:** Pruebas A/B y Procesamiento de Lenguaje Natural

- Evaluación con prueba A/B
- Utilización de expresiones regulares de manera efectiva
- Utilización  y presentación de nltk para hacer análisis estadístico de lenguaje natural

# **Paso 27:** Introducción a Machine Learning: Clasificación No Supervisada y Supervisada

- Clasificación no supervisada 
- Entrenamiento de modelo de Regresión Logística y evaluación de su desempeño

 # **Futuro trabajo:** 🔮

  **Conclusiones generales:**

La encuesta de Stack overflow arroja datos interesantes en el contexto internacional, y alcanza a dar luz sobre los desarrolladores 
en México, sin embargo, se requiere tropizalizar esta encuesta compuesta de **46** variables  y 84000 mil respondientes para el caso mexicano revisando la pertinencia de las preguntas. 

Se propone realizar un estudio mixto en donde se realice un cuestionario con las preguntas a fin al contexto como lo ha hecho el IJALTI en Jalisco con la encuesta de la OCDE.

In [ ]:
Encuesta_2018 = pd.read_csv('/content/OverFlow_2018_sin_simbolos.csv')
Encuesta_2018['Country']

0                 Kenya
1        United Kingdom
2         United States
3         United States
4          South Africa
              ...
12043     United States
12044            Brazil
12045             India
12046            Mexico
12047     United States
Name: Country, Length: 12048, dtype: object